{% extends 'myapp/index.html' %}
<!--  -->
{% block title %} GET {% endblock %}
<!--  -->
{% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/get.css' %}" />
<body>
  <div class="container">
    <div id="books" class="books"></div>
  </div>
</body>
<script>
  fetch("http://127.0.0.1:8000/books/")
    .then((response) => response.json())
    .then((data) => {
      const booksContainer = document.getElementById("books");
      data.forEach((book) => {
        const bookCard = `
            <div class="book-card">
              <img src="${book.cover}" alt="Book Cover" class="book-cover">
              <div class="book-info">
                <h3 class="book-name">${book.name}</h3>
                <p class="book-description">${book.description}</p>
              </div>
            </div>
          `;
        booksContainer.innerHTML += bookCard;
      });
    })
    .catch((error) => {
      console.error("Error fetching books:", error);
    });
</script>
{% endblock %}
